n8n-leads.json
{
  "name": "Landing IA — Leads",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "landing-leads",
        "responseMode": "onReceived",
        "options": {
          "allowedOrigins": "https://landing-aura-ruddy.vercel.app,https://landing-aura-mllv.vercel.app"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "d221fffa-5a87-483d-b870-814a14cbc848",
      "name": "Webhook",
      "webhookId": "04f4cd7e-3c64-49a1-a0d0-d2ca5ce0214f"
    },
    {
      "parameters": {
        "jsCode": "// El frontend envía: { nombre, telefono, franja, resumen, bloques, foto_antes, origen, fecha }\n// bloques es el array genérico {tipo, ...datos} del contrato multi-cliente\n// (puntuaciones, fortalezas, recomendaciones, checklist, propuesta,\n// horquilla_precio, imagen_despues) — distinto según qué cliente lo envíe.\n//\n// Este nodo aplana a texto legible los bloques de DATOS (todo menos\n// imagen_despues), y convierte a adjuntos de email reales las dos fotos:\n// - foto_antes: la foto original que subió el cliente (siempre que exista).\n// - foto_despues: la simulación generada por la IA, si el bloque\n//   {tipo:\"imagen_despues\", url} viene con una imagen en base64.\n// Antes esto se imprimía como texto plano (un muro de base64 ilegible);\n// ahora se adjunta como imagen de verdad.\n\nconst body = $input.first().json.body || $input.first().json;\n\nfunction formatearBloque(b) {\n  switch (b.tipo) {\n    case 'puntuaciones':\n      return 'Puntuación por zonas:\\n' + (b.items || [])\n        .map((i) => `  - ${i.nombre}: ${i.puntuacion}/100 — ${i.observacion}`)\n        .join('\\n');\n    case 'fortalezas':\n      return 'Fortalezas:\\n' + (b.items || []).map((i) => `  - ${i}`).join('\\n');\n    case 'recomendaciones':\n      return 'Recomendaciones:\\n' + (b.items || [])\n        .map((r) => `  - ${r.titulo} (${r.zona}): ${r.beneficio}${r.detalle ? '. ' + r.detalle : ''}`)\n        .join('\\n');\n    case 'checklist':\n      return 'Checklist:\\n' + (b.items || [])\n        .map((c) => `  - [${c.estado}] ${c.nombre}${c.observacion ? ': ' + c.observacion : ''}`)\n        .join('\\n');\n    case 'propuesta':\n      return 'Propuesta:\\n' + (b.partidas || [])\n        .map((p) => `  - ${p.nombre}: ${p.descripcion}`)\n        .join('\\n');\n    case 'horquilla_precio': {\n      const rango = `${b.minimo}–${b.maximo} ${b.moneda || ''}`.trim();\n      return `Rango de precio orientativo: ${rango}${b.nota ? ' (' + b.nota + ')' : ''}`;\n    }\n    // imagen_despues NO se formatea aquí como texto: se adjunta como foto (ver más abajo)\n    default:\n      return null;\n  }\n}\n\nconst bloques = Array.isArray(body.bloques) ? body.bloques : [];\nlet bloques_texto = bloques\n  .filter((b) => b.tipo !== 'imagen_despues')\n  .map(formatearBloque)\n  .filter(Boolean)\n  .join('\\n\\n') || '(sin bloques en el informe)';\n\nconst binary = {};\nconst adjuntos = [];\n\n// Foto \"antes\": la foto original del cliente\nif (body.foto_antes) {\n  const buffer = Buffer.from(body.foto_antes, 'base64');\n  binary.foto_antes = await this.helpers.prepareBinaryData(buffer, 'antes.jpg', 'image/jpeg');\n  adjuntos.push('foto original (\"antes\")');\n}\n\n// Foto \"después\": bloque {tipo:\"imagen_despues\", url} — url puede venir como\n// data URI completa (data:image/png;base64,...) o como base64 \"pelado\".\n// Si en el futuro llega como URL http(s) real, no se descarga aquí (haría\n// falta un nodo HTTP Request previo): se deja como enlace en el texto.\nconst bloqueDespues = bloques.find((b) => b.tipo === 'imagen_despues' && b.url);\nif (bloqueDespues) {\n  const raw = bloqueDespues.url;\n  const match = typeof raw === 'string' && raw.match(/^data:(image\\/\\w+);base64,(.*)$/);\n  if (match) {\n    binary.foto_despues = await this.helpers.prepareBinaryData(Buffer.from(match[2], 'base64'), 'despues.jpg', match[1]);\n    adjuntos.push('simulación de la IA (\"después\")');\n  } else if (typeof raw === 'string' && /^https?:\\/\\//.test(raw)) {\n    bloques_texto += `\\n\\nImagen \"después\" alojada externamente (no se adjunta automáticamente): ${raw}`;\n  } else if (typeof raw === 'string' && raw.length > 100) {\n    binary.foto_despues = await this.helpers.prepareBinaryData(Buffer.from(raw, 'base64'), 'despues.jpg', 'image/jpeg');\n    adjuntos.push('simulación de la IA (\"después\")');\n  }\n}\n\nconst notaAdjuntos = adjuntos.length\n  ? `\\n\\nSe adjunta: ${adjuntos.join(' y ')}.`\n  : '';\n\nreturn [{\n  json: {\n    nombre: body.nombre || '',\n    telefono: body.telefono || '',\n    franja: body.franja || '',\n    resumen: body.resumen || '',\n    origen: body.origen || '',\n    fecha: body.fecha || '',\n    bloques_texto: bloques_texto + notaAdjuntos,\n  },\n  binary,\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "c49d635f-eb4f-457a-84f9-0c44f2c51670",
      "name": "Formatear informe"
    },
    {
      "parameters": {
        "sendTo": "EMAIL_DEL_NEGOCIO@cambiar.com",
        "subject": "=Nuevo lead: {{ $json.nombre }} — {{ $json.origen }}",
        "emailType": "text",
        "message": "=Nuevo lead recibido desde la landing\n\nNombre: {{ $json.nombre }}\nTeléfono: {{ $json.telefono }}\nFranja horaria preferida: {{ $json.franja }}\nFecha: {{ $json.fecha }}\nOrigen: {{ $json.origen }}\n\nResumen del informe:\n{{ $json.resumen }}\n\n{{ $json.bloques_texto }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "foto_antes"
              },
              {
                "property": "foto_despues"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "5cd1c5a7-1b77-4d05-9c86-96fb3dc78d1a",
      "name": "Enviar email al negocio",
      "webhookId": "b3e2a9c1-6b7d-4f2a-9e8c-1a2b3c4d5e6f"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Formatear informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear informe": {
      "main": [
        [
          {
            "node": "Enviar email al negocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}